body {
    background-image: URL("../imgs/front-page-back.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    font-size: 2em;
}

.main-logo {
    height: 9rem;
}

.front-menu-bar {
    background-color: rgba(191,224,223,.9);
    color: #163838;
}

.fab {
    opacity: 40%;
    height: 1.5em;
}

.fab:hover {
    opacity: 100%;
}

