body {
    background-image: URL(../imgs/photo-services-back.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
}

.services {
    background-color: rgba(255,255,255,0.3);
    }

.services h3 {
    font-size: 30px;
    font-weight: 200;
}

.indent {
    text-indent: 30px;
}